%body
  %header#myCarousel.carousel.slide
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    / Wrapper for slides
    .carousel-inner
      .item.active
        .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide One');"}
        .carousel-caption
          %h2 Caption 1
      .item
        .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide Two');"}
        .carousel-caption
          %h2 Caption 2
      .item
        .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide Three');"}
        .carousel-caption
          %h2 Caption 3
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
      %span.icon-next
.container
  .row
    .col-lg-12
      %h1.page-header
        Welcome to Modern Business
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-check
            Bootstrap v3.2.0
        .panel-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
          %a.btn.btn-default{:href => "#"} Learn More
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-gift
            Free &amp; Open Source
        .panel-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
          %a.btn.btn-default{:href => "#"} Learn More
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-compass
            Easy to Use
        .panel-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
          %a.btn.btn-default{:href => "#"} Learn More
  %div/

